.root {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #faf6f6;
}

.title {
  text-transform: uppercase;
  font-size: 28px;
}
