.listItem {
  width: 90%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkItem {
  color: inherit;
  text-decoration: none;
}

.infoBook {
  display: flex;

  gap: 10px;
}

.btnBlock {
  display: flex;

  gap: 10px;
}
