.section {
  padding: 20px;
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.card img {
  width: 300px;
}

.cardDescr {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 38px;
}

.isbn {
  font-size: 24px;
}

.isbnColor {
  color: green;
}

.author {
  font-size: 30px;
}

.blockBtn {
  display: flex;
  gap: 10px;
}

.btn {
  display: block;
  width: 150px;
}
